[Unit]
Description=Stop BBB server at 9:00 PM IST Mon-Sat

[Timer]
OnCalendar=Mon..Sat 21:00 Asia/Kolkata
Persistent=true
RandomizedDelaySec=30

[Install]
WantedBy=timers.target
